html, body {
background: url("images/tiles-02.png") no repeat center center fixed;
font-family:"Montserrat", arial;
}

/*Header*/

.header {
background: #008080;
height: 80px;
z-index: 2;
}

.header ul {
padding-right: 60px;
padding-top: 26px;
}

.header li {
display: inline;
font-size: 12px;
padding: 12px;
}

.header li a {
color: #fff;
text-decoration: none;
font-size: 20px;
}

/*Main*/

.main {
color: #008080;
text-align: center;
padding-top: 30px;
}


/*Feature and Form*/
.feature {
margin-top: 20px;
text-align: center;
}

.feature h2 {
color: #008080;
padding-top: 20px;
}


.feature li {
color: #708090;
font-size: 34px;
font-weight: 4px;
list-style: none;
padding-right: 40px;
}

.play-again {
text-align: center;
margin-top: 20px;
}

h3 {
color: #708090;
font-style: italic;
font-size: 16px;
text-align: center;
}

.table-dict {
text-align: center;
width: 30%;
margin: 50px auto;
}

th {
border-bottom: 2px solid #008080;
padding-bottom: 10px;
text-align: center;
color: #008080;
vertical-align; middle;
font-size: 16px;
}

td {
border-bottom: 1px solid #708090;
color: #708090;
padding-top: 8px;
padding-bottom: 8px;
text-align: center;
vertical-align; middle;
font-size: 14px;
}


.table-dict td a {
text-decoration: underline;
color: #708090;
}

.btn-anagram {
background: #008080;
border: 1px solid #008080;
color: #fff;
border-radius: 4px;
padding: 4px 8px;
font-size: 12px;
}


.btn-danger {
padding: 4px 8px;
font-size: 12px;
}

/*Form*/

.form {
color: #708090;
font-size: 12px;
text-align: center;
padding-bottom: 20px;
}

.form-group {
padding-top: 16px;
}

.entry {
padding: 8px 30px;
font-size: 16px;
}

.btn-default {
background: #008080;
border: 1px solid #008080;
color: #fff;
border-radius: 4px;
padding: 8px 20px;
margin-top: 16px;
font-size: 14px;
}

.btn-default a {
color: #fff;
text-decoration: none;
}

/*Error*/
.error {
margin: 16px 480px;
font-style: bold;
text-align: center;
padding: 8px 16px;
border: 2px solid #B22222;
background: transparent;
color: #B22222;
}