<div class="main">
<h1>ANAGRAMS GENERATOR DICTIONARY</h1>
<h2>Dictionary Entry Update for "<%= "#{@word.text}" %>"</h2>
</div>

<div class="feature">
<h3>Please submit an edit to a dictionary entry below!</h3>

<%= erb :"/dictionary/_form" %>
</div>
