<div class="main">
<h1>ANAGRAMS GENERATOR DICTIONARY</h1>
</div>

<div class="feature">
<table class="table-dict">
<thead>
<th>Anagrams</th>
<th>Edit</th>
<th>Delete</th>
</thead>

<tbody>
<% @words.each do |x| %>
<tr>
	<td class="text-letters"><button class="btn btn-info"><a href="<%= "/anagrams/#{x.text}" %>"><%= "#{x.text}" %></a></button> </td>
	<td class="edit"><button class="btn btn-warning"><a href="<%= "/dictionary/#{x.id}/edit" %>">Edit</a></button> </td>
	<td class="delete-btn">
		<form action="<%= "/dictionary/#{x.id}" %>" method="post">
			<input type="hidden" name="_method" value="delete" />
			<button class="btn btn-danger">Delete</button>
		</form>
	</td>
</tr>
<%end%>
</tbody>
</table>

</div>