<div class="main">
<h1>ANAGRAMS GENERATOR DICTIONARY</h1>
<h2>New Dictionary Entry</h2>
</div>

<div class="feature">
<h3>Please submit a new dictionary entry below!</h3>


<%= erb :"/dictionary/_form" %>


</div>