<h1>Words</h1>

<table class="table table-striped">
<thead>
<th>Text</th>
<th>Letters</th>
<th>Edit</th>
</thead>

<tbody>
<% @words.each do |x| %>
<tr>
	<td><%= "#{x.text}" %> </td>
	<td><%= "#{x.letters}" %> </td>
	<td><a href="<%= "/words/#{x.id}/edit" %>">Edit</a> </td>
</tr>
<%end%>
</tbody>
</table>