<h1>Welcome to our</h1>
<h1>ANAGRAMS GENERATOR!</h1>

<h3>Please submit a new dictionary entry below!</h3>

<form action="/words" method="post" class="form">
<div class="form-group">
<input type="text" name="word" placeholder="Enter a word">
</div>
<button type="submit" class="btn btn-default">Add to dictionary!</button>
</form>