<h1>Dictionary entry for "<%= "#{@word.text}" %>"</h1>

<table class="table table-striped">
<thead>
<th>Text</th>
<th>Letters</th>
</thead>

<tbody>

<tr>
	<td><%= "#{@word.text}" %></a> </td>
	<td><%= "#{@word.letters}" %> </td>
</tr>

</tbody>
</table>