<div class="main">
<h1>Welcome to the</h1>
<h1>ANAGRAMS GENERATOR!</h1>
</div>

<div class="feature">
<h3>Please enter a word below</h3>

<form action="/" method="post" class="form">
<div class="form-group">
<input type="text" name="word" placeholder="Enter a word" class="entry">
</div>
<button type="submit" class="btn btn-default">Show me my anagrams!</button>
</form>
</div>




