<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="http:fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/style.css">
<meta charset="utf-8">
<title>Anagrams Generator</title>
</head>
<body>

<%= yield %>


<% if @error.present? %>
<p class='error'><%= "#{@error}" %></p>
<%end%>

</body>
</html>