<div class="main">
<h1>ANAGRAMS GENERATOR</h1>

</div>

<div class="feature">
<h2>Anagrams for "<%= "#{@word}" %>"</h2>
<ul class="anagrams">
<% if !@anagrams.nil? %>
<% @anagrams.each do |x| %>
<li><%= "#{x.text}"%></li>
<%end%>
<%end%>
</ul>
</div>

<div class="play-again">
<button type="submit" class="btn btn-default"><a href="<%= "/" %>">Play Again!</a></button>
</div>